@import '../../../sass/colors';

.button{
    background-color:transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    width: 400px;
    height: 200px;

    &-rock{
        background-color: $cyan;
    }
    &-paper{
        color:black;
        background-color: white;
        border:solid 1px black;
    }
}

